<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!DOCTYPE html PUBLIC "" "">
<html>
<head>
    <meta content="IE=10.000"
        http-equiv="X-UA-Compatible">

    <meta charset="utf-8">
    <title>广游汇游戏，ios游戏,android游戏,手机游戏,window phone游戏 - 
保卫菠萝 保护菠萝 保卫菠萝2 攻城 怪兽大冒险 攻城 斗牛博士</title>
    <meta name="description" content="ios游戏,android游戏,手机游戏,window phone游戏 - 
保卫菠萝 保护菠萝 保卫菠萝2 攻城 怪兽大冒险 攻城 斗牛博士">
    <meta name="keywords" content="ios游戏,android游戏,手机游戏,window phone游戏 - 
保卫菠萝 保护菠萝 保卫菠萝2 攻城 怪兽大冒险 攻城 斗牛博士">
    <link href="favicon.ico"
        rel="shortcut icon">
    <link href="maincss/metinfo.css"
        rel="stylesheet" type="text/css">
    <script src="maincss/jQuery1.7.2.js" type="text/javascript"></script>

    <script src="maincss/slides.min.jquery.js" type="text/javascript"></script>
    <!--[if IE]>
<script src="maincss/js/html5.js" type="text/javascript"></script>
<![endif]-->
    <script type="text/javascript">
        $(function () {
            $('#slides').slides({
                preload: true,
                preloadImage: 'maincss/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true,
                animationStart: function (current) {
                    $('.circle').animate({
                        bottom: -35
                    }, 100);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationStart on slide: ', current);
                    };
                },
                animationComplete: function (current) {
                    $('.circle').animate({
                        bottom: -35
                    }, 200);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationComplete on slide: ', current);
                    };
                },
                slidesLoaded: function () {
                    $('.circle').animate({
                        bottom: -35
                    }, 200);
                }
            });
        });
	</script>

    <meta name="GENERATOR" content="MSHTML 10.00.9200.16721">
</head>
<body>
    <header>
<DIV class="inner clear">
<DIV class="logo"><A title="科汇App开发" id="web_logo" href="#"><IMG 
title="保卫菠萝" style="margin: 13px 0px 0px 10px;" alt="保卫菠萝" src="maincss/1370503354.png">
				 </A>               </DIV>
<DIV class="otr-nav">
<DIV class="top-nav"></DIV><NAV>
<UL class="list-none">
  <LI id="nav_10001"><A title="保卫菠萝" class="nav" href="index.htm"><SPAN>保卫菠萝</SPAN></A></LI>
 
  <LI class="line"></LI>
  <LI class="navdown" id="nav_22"><A title="怪兽大冒险" class="hover-none nav" href="contact.htm" 
  0=""><SPAN>怪兽大冒险</SPAN></A></LI> <LI class="navdown" id="LI2"><A title="怪兽大冒险" class="hover-none nav" 
  0=""><SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </SPAN></A></LI> </UL></NAV></DIV></DIV></header>
    <div class="Zbannar">
        <div class="a1" id="flash8box">
            <div id="anim">
                <div id="marquee">
                    <div id="slides">
                        <div class="slides_container">
                            <div class="slide">
                                <a title="科汇" href="https://itunes.apple.com/cn/app/id790656910" target="_blank">
                                    <img
                                        alt="科汇App" src="maincss/youzhiapp.png"></a>
                            </div>
                            <div class="slide">
                                <a title="科汇" href="https://itunes.apple.com/cn/app/id790656910" target="_blank">
                                    <img
                                        alt="科汇App" src="maincss/saola_banner.png"></a>
                            </div>
                            <div class="slide">
                                <a title="科汇" href="https://itunes.apple.com/cn/app/id790656910" target="_blank">
                                    <img
                                        alt="科汇App" src="maincss/native_app.png"></a>
                            </div>
                        </div>
                        <a class="prev" href="##">
                            <img width="24"
                                height="43" alt="Arrow Prev" src="maincss/arrow-prev.png"></a><a
                                    class="next" href="##"><img width="24" height="43" alt="Arrow Next"
                                        src="maincss/arrow-next.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indx-pro">
        <div class="inner">
            <div class="clear">
                <div class="profld" data-listnum="">
                    <dl class="dl-jqrun">
                        <dt><a title="保卫菠萝2" href="https://itunes.apple.com/cn/app/id790656910" target="_blank">
                            <img
                                width="92" height="92" title="保卫菠萝2" alt="保卫菠萝2" src="maincss/1358938249.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="保卫菠萝2"
                                    href="https://itunes.apple.com/cn/app/id790656910"  target="_blank">保卫菠萝2</a></h2>
                                <p>
                                    <a title="保卫菠萝2"
                                        href="https://itunes.apple.com/cn/app/id790656910"  target="_blank">超萌的塔防游戏<br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-jqrun">
                        <dt><a title="怪兽大冒险"  href="https://itunes.apple.com/cn/app/id788262944"  target="_blank">
                            <img
                                width="92" height="92" title="怪兽大冒险" alt="怪兽大冒险" src="maincss/1358937830.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="怪兽大冒险"  href="https://itunes.apple.com/cn/app/id788262944"  target="_blank">怪兽大冒险</a></h2>
                                <p>
                                    <a title="怪兽大冒险"  href="https://itunes.apple.com/cn/app/id788262944"  target="_blank">怪兽大冒险是一个冒险类的物理游戏<br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-jqrun">
                        <dt><a title="斗牛博士"
                             href="https://itunes.apple.com/cn/app/id727578215"  target="_blank">
                            <img width="92" height="92"
                                title="斗牛博士" alt="斗牛博士" src="maincss/1358937935.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="斗牛博士"
                                   href="https://itunes.apple.com/cn/app/id727578215"  target="_blank">斗牛博士</a></h2>
                                <p>
                                    <a title="斗牛博士" href="https://itunes.apple.com/cn/app/id727578215"  target="_blank">斗牛博士 斗牛棋牌游戏<br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-jqrun">
                        <dt><a title="保卫菠萝"
                             href="https://itunes.apple.com/cn/app/id616580902"  target="_blank">
                            <img width="92" height="92"
                                title="保卫菠萝" alt="保卫菠萝" src="maincss/1358938346.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="保卫菠萝"
                                     href="https://itunes.apple.com/cn/app/id616580902"  target="_blank">保卫菠萝</a></h2>
                                <p>
                                    <a title="保卫菠萝"
                                         href="https://itunes.apple.com/cn/app/id616580902"  target="_blank">保护菠萝是一个防塔类的游戏 <br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-jqrun">
                        <dt><a title="精灵部落"   href="https://itunes.apple.com/cn/app/id754603884"  target="_blank">
                            <img
                                width="92" height="92" title="精灵部落" alt="精灵部落" src="maincss/1358938058.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="精灵部落"
                                      href="https://itunes.apple.com/cn/app/id754603884"  target="_blank">精灵部落</a></h2>
                                <p>
                                    <a title="精灵部落"
                                         href="https://itunes.apple.com/cn/app/id754603884"  target="_blank">《精灵部落 》是一款战争题材的游戏<br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-jqrun">
                        <dt><a title="攻城"
                            href="https://itunes.apple.com/cn/app/id673558250"  target="_blank">
                            <img width="92" height="92"
                                title="攻城" alt="攻城" src="maincss/1358938017.png"
                                border="0"></a></dt>
                        <dd>
                            <div class="mp">
                                <h2><a title="攻城"
                                    href="https://itunes.apple.com/cn/app/id673558250"  target="_blank">攻城</a></h2>
                                <p>
                                    <a title="攻城"
                                         href="https://itunes.apple.com/cn/app/id673558250"  target="_blank">《攻城》是一款战争题材的游戏 <br>
                                        前往AppStore下载</a>
                                </p>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="doly-abo">
        <div class="inner">
            <h3 class="title"><span>精彩游戏截图</span></h3>
            <div class="home_product">
                <ul>
                    <li><a href="#case/case23.html">
                        <img
                            alt="扫啦二维码" src="maincss/saola.jpg"
                            border="0"></a></li>
                    <li><a href="#case/case14.html">
                        <img
                            alt="CityDiscount" src="maincss/citydiscount.jpg"
                            border="0"></a></li>
                    <li><a href="#case/case18.html">
                        <img
                            alt="娄底街" src="maincss/loudijie.jpg"
                            border="0"></a></li>
                    <li style="padding-right: 0px;"><a href="#case/case16.html">
                        <img alt="科汇菜谱" src="maincss/caipu.jpg"
                            border="0"></a></li>
                    <li><a href="#case/case21.html">
                        <img
                            alt="科汇App" src="maincss/youzhi.jpg"
                            border="0"></a></li>
                    <li><a href="#case/case24.html">
                        <img
                            alt="急救超人" src="maincss/51aid.jpg"
                            border="0"></a></li>
                    <li><a href="#case/case20.html">
                        <img
                            alt="诺恩教育" src="maincss/nuoen.jpg"
                            border="0"></a></li>
                    <li style="padding-right: 0px;"><a href="#case/case19.html">
                        <img alt="脚手架安全" src="maincss/jiaoshoujia.jpg"
                            border="0"></a></li>
                </ul>
            </div>
            
           <!-- <div class="fl Newxx">
                <h3 class="title"><a title="链接关键词" class="More" href="#news/bussiness_1.html">更多&gt;&gt;</a><span>业界资讯</span></h3>
                <div class="news">
                    <ul class="list-none">
                        <li>
                            <h2><a title="打车App首轮交锋结束 进入烧钱二季" href="#news/news155.html">打车App首轮交锋结束 
  进入烧钱二季</a><span><i>[2014-02-13]</i></span></h2>
                        </li>
                        <li>
                            <h2><a title="2013年App Store销售额达100亿美元 " href="#news/news154.html">2013年App 
  Store销售额达100亿美元 </a><span><i>[2014-01-09]</i></span></h2>
                        </li>
                        <li>
                            <h2><a title="Whats App活跃用户达4亿 仅50名员工" href="#news/news153.html">Whats 
  App活跃用户达4亿 仅50名员工</a><span><i>[2013-12-23]</i></span></h2>
                        </li>
                        <li>
                            <h2><a title="App Store拒绝比特币应用 称遵守法规" href="#news/news152.html">App 
  Store拒绝比特币应用 称遵守法规</a><span><i>[2013-12-12]</i></span></h2>
                        </li>
                        <li>
                            <h2><a title="北京整顿旧版本打车app 由官方版取代" href="#news/news151.html">北京整顿旧版本打车app 
  由官方版取代</a><span><i>[2013-11-03]</i></span></h2>
                        </li>
                    </ul>
                </div>
            </div>-->
            <div class="fr Aboutz">
                <h3 class="title"><span>保卫菠萝2</span></h3>
                <div class="editor">
                    <div style="text-indent: 2em;">
                        <div>
                           保护菠萝是防塔类的游戏 ，年度最佳精选游戏！！！ 
怪物和炮塔并存？NO，我们拼个你死我活！！！ 
超过几10种不同类型的怪物，不同的攻击方式！！！ 
超过几十种炮塔，看得你眼花缭乱！！！！ 
超过几十种地图，沙漠，南极都是浮云，我们还有火星！！！ 

重大更新： 
几十种Hero ，电影里面的主角搬到手机上面去！！！ 
每个Hero 养成升级各个击破！！！！会砍刀，还会发炮弹？这个都不算啥，还有开车，驾驶火箭，超人，钢铁超人，巨人，一个不少！！！！<br />
&nbsp;欢迎你的加入 
微博：http://weibo.com/u/1923130343 
qq群：70900678</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
             <div class="fr Aboutz" style=" margin-right:20px">
                <h3 class="title"><span>怪兽大冒险</span></h3>
                <div class="editor">
                    <div style="text-indent: 2em;">
                        <div>
                           怪兽大冒险 年度最佳精选冒险游戏！！！！！ 
怪兽大冒险是一个冒险类的物理游戏，模拟在重力作用下各种物体运动碰撞 
怪兽大冒险故事来自一次怪兽执行一次危险的任务，在离开的时候发现航天没有油起飞。 
怪兽展开了一场夺取蚂蚁哥的航天油的战斗 
1.分15个大关卡 
2.每个关卡难道增加 
3.按屏幕的不同方向区域进行不同方向的运动 
4.满足一定级别，可以升级到更多的功能 

 
                            <br />
                            亮点 ：愤怒的小鸟的物理引擎 
                            <br />
                            欢迎大家加入QQ群讨论，你的支持是我们的动力！<br />
                            Qq群：70900678&nbsp;

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

             <div class="fr Aboutz" style=" margin-right:20px">
                <h3 class="title"><span>精灵部落</span></h3>
                <div class="editor">
                    <div style="text-indent: 2em;">
                        <div>
                            《精灵部落 》是一款战争题材的游戏，在游戏中玩家需要组建一支强大的队伍，包括精灵刀剑士，大块头，炮手，医生，士兵和高科技武器，组建好队伍时玩家就可以开始自己的战争之旅。 提供79多个单机部落对战，你可以根据自己的口味组建不同的军队来完成使命，在游戏中可以通过升级技能、武器以及建设医疗等来提高自己的战斗力。 大本营- 相当于国家总部，每个其他建筑的升级都和这个大本营有关联，大本营达每一次升级后有更多的资源建筑，炮塔建筑，基本建筑不断升级。 资源建筑- 圣药水生产厂，圣药水库，金矿，金库等等。&nbsp; </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cotac-lk">
        <div class="inner">
            <div class="fl index-Link">
                <h3>友情链接：</h3>
                <div class="linklist">
                    <div class="imglk">
                        <ul></ul>
                    </div>
                    <div class="textlk">
                        <ul><LI><A title="科汇App开发" 
href="http://kehuiapp.herokuapp.com/" target="_blank">科汇App开发</A></LI>
                            <!--
  <LI><A title="" href="http://www.yoozhuo.com/" 
  target="_blank">手机软件开发公司</A></LI>
  <LI><A title="" href="http://www.68apk.com/" target="_blank">安卓软件下载</A></LI>
  <LI><A title="" href="http://www.zeroplace.cn/" 
  target="_blank">WEB应用开发</A></LI>
  <LI><A title="" href="http://www.hucii.com/" target="_blank">ERP系统</A></LI>
  <LI><A title="" href="http://www.yunmai.cn/" target="_blank">ocr软件</A></LI>
  <LI><A title="" href="http://www.mightsoft.cn/" 
target="_blank">华威手机数码</A></LI>
  <LI><A title="" href="http://www.apper.com.cn/" 
target="_blank">安卓开发</A></LI>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer data-classnow="10001" data-module="10001">
<DIV class="inner">
<DIV class="foot-nav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<A 
title="招贤纳士" 
href="#job/">招贤纳士</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A 
title="网站地图" 
href="#sitemap/">网站地图</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A 
title="联系我们" href="#about/contactus.html" 
0="">联系我们</A>--></DIV>
<DIV class="foot-text">
<P>
<SCRIPT src="maincss/stat.htm" type="text/javascript"></SCRIPT>
</P>
<P>广游汇 业务客服QQ1：1515731706 客服QQ2：386588533<BR>广告业务 Email：alindada@qq.com<BR>Powered by <A 
href="#">广游汇</A>  <BR></P></DIV>
<DIV class="clear"></DIV></DIV></footer>
    <script src="maincss/fun.inc.js" type="text/javascript"></script>

    <div id="cnzz" style="display: none;"></div>
    <div id="chat" style="display: none;"></div>
    <div id="baidu" style="display: none;"></div>
    <div id="analytics" style="display: none;"></div>


    <div style="display: none;">
    </div>

</body>
</html>
