<html>
<head>
<title>保卫菠萝2 超萌的塔防游戏 IOS Android下载</title>
</head>
<body>
<h1>
保护菠萝是防塔类的游戏 ，年度最佳精选游戏！！！ 
怪物和炮塔并存？NO，我们拼个你死我活！！！ 
超过几10种不同类型的怪物，不同的攻击方式！！！ 
超过几十种炮塔，看得你眼花缭乱！！！！ 
超过几十种地图，沙漠，南极都是浮云，我们还有火星！！！ 

重大更新： 
几十种Hero ，电影里面的主角搬到手机上面去！！！ 
每个Hero 养成升级各个击破！！！！会砍刀，还会发炮弹？这个都不算啥，还有开车，驾驶火箭，超人，钢铁超人，巨人，一个不少！！！！ 


欢迎你的加入 
微博：http://weibo.com/u/1923130343 
qq群：70900678

苹果商店下载 <a href="https://itunes.apple.com/us/app/bao-wei-bo-luo2-chao-ji-chao/id790656910?ls=1&mt=8">马上下载</a>
<br>
<img    src="home1024.png"  />
第一关
<br>
<img    src="IMG_0497.PNG"  />
<img    src="IMG_0499.PNG"  />
<img    src="IMG_0500.PNG"  />
<img    src="IMG_0502.PNG"  />
<img    src="IMG_0507.PNG"  />
<img    src="IMG_0509.PNG"  />
</h1>
</body>
</html>
