
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://inc.tgbusdata.cn/ol/base_gb2312.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://static.ptbus.com/templet/146965/bwlb2.css"/>
<link rel="stylesheet" type="text/css" href="http://static.ptbus.com/templet/146965/css/qiehuan.css">
<script src="http://static.ptbus.com/templet/146965/index_files/jquery.min.js" type="text/javascript"></script>
<title>保卫萝卜2官网_保卫萝卜2攻略_保卫萝卜2安卓版下载_口袋巴士_口袋巴士</title>
<meta name="keywords" content="保卫萝卜2，保卫萝卜2安卓版下载，保卫萝卜2攻略，保卫萝卜2冰川攻略，保卫萝卜2视频" />
<meta name="description" content="口袋巴士保卫萝卜2专区，为您带来最新最全的保卫萝卜2攻略，通过图文攻略以及保卫萝卜2视频攻略，来帮助你及时通过冰川、天际等关卡。同时还提供最新最全的保卫萝卜2安卓版下载以及iOS版下载，让您第一时间尽享游戏的快乐，而这一切尽在Ptbus口袋巴士保卫萝卜2专区" />
<script type="text/javascript" src="http://hot.tgbus.com/pyt008/js/jquery.js"></script>
<script type="text/javascript" src="http://static.ptbus.com/templet/146965/qiehuan.js"></script>

<script type="text/javascript" language="javascript">
function g(o){return document.getElementById(o);}
function HoverPi(m){for(var i=1;i<=3;i++){g('tp_'+i).className='normaltap';g('tpc_0'+i).className='undis';}g

('tpc_0'+m).className='dis';g('tp_'+m).className='hovertap';}
</script>
<script type="text/javascript">
 $(document).ready(function(){
  $.getScript("js/big_pic.js");
 });
</script>

</head>

<body>
<div id="common_top_v3">
 <div class="header">
        <div class="logo"><img 

src="http://www.ptbus.com/templets/v2/images/article_article_topic/logo.png"></div>
        <ul class="nav f12">
            <li><a target="_blank" href="http://www.ptbus.com/">口袋首页</a></li>
            <li><a href="http://www.ptbus.com/catalog/937/" target="_blank">手游新闻</a></li>
            <li><a href="http://www.ptbus.com/catalog/944/" target="_blank">手游评测</a></li>
            <li><a href="http://www.ptbus.com/catalog/4_iphone_n_n/" target="_blank">iPhone游戏</a></li>
            <li><a href="http://www.ptbus.com/catalog/4_ipad_n_n/" target="_blank">iPad游戏</a></li>
            <li><a href="http://www.ptbus.com/catalog/4_android_n_n/" target="_blank">安卓游戏</a></li>
            <li><a href="http://www.ptbus.com/catalog/943/" target="_blank">游戏攻略</a></li>
   <li><a href="http://www.ptbus.com/catalog/994/" target="_blank">数据库</a></li>
            <li><a href="http://bbs.ptbus.com/" target="_blank">论坛社区</a></li>
            <li><a href="http://www.hao123.com/" target="_blank">hao123</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="top_bg"></div>
<div class="wraaper">
  <div class="nav_bg">
         <ul>
                  <li><a target="_blank" href="http://www.ptbus.com/carrotfantasy2/">保卫萝卜2</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/download/" target="_blank">游戏下载</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/news/" target="_blank">游戏新闻</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/146687/" target="_blank">怪物图鉴</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/141399/" target="_blank">炮塔图鉴</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/guide/" target="_blank">游戏攻略</a></li>
                  <li><a href="http://www.ptbus.com/carrotfantasy2/faq/ target="_blank"">游戏问答</a></li>
                        <li><a href="http://www.ptbus.com/baoweiluobo/" target="_blank">保卫萝卜1</a></li>
      
            </ul>
        </div>
        <div class="download">
         <ul>
                  <li class="mr_18"><a href="http://www.ptbus.com/carrotfantasy2/download/"><img src="http://static.ptbus.com/templet/146965/images/logo1.png" /></a></li>
    <li class="mr_18"><a href="http://d3.dn.ptbus.com/soft/ipa/carrotfantasy2.ipa"><img src="http://static.ptbus.com/templet/146965/images/download1.jpg" /></a></li>
                  <li class="mr_18"><a href="http://d3.dn.ptbus.com/soft/apk/baoweiluobo2.apk"><img src="http://static.ptbus.com/templet/146965/images/download5.jpg" /></a></li>
                  <li><a target="_blank" href="http://itunes.apple.com/cn/app/bao-wei-luo-bo2-ji-de-mao-xian/id689888397"><img src="http://static.ptbus.com/templet/146965/images/download4.jpg" /></a></li>

            </ul>
        </div>
  <div class="main_bg">
  <div class="new_bg">
         <div class="new_l fl1">
 <div id="focus">
        <ul>
  <li><a href="http://www.ptbus.com/carrotfantasy2/167853/" title="保卫萝卜2wp8版即将来临 春节后正式发布" target="_blank"><img 

src="http://ptbus.tgbusdata.cn/v2/thumb/jpg/NzhkZiwyOTksMjM3LDI1NSwzLDEsLTEsTk9ORSw=/u/www.ptbus.com/uploads/1402/07/2464-14020GH355518.jpg" width="299" height="237"></a></li><li><a href="http://www.ptbus.com/carrotfantasy2/166350/" title="保卫萝卜2安卓版正式发布 萌系塔防再度来袭" target="_blank"><img 

src="http://ptbus.tgbusdata.cn/v2/thumb/jpg/Njc0NywyOTksMjM3LDI1NSwzLDEsLTEsTk9ORSw=/u/www.ptbus.com/uploads/1402/07/2464-14020GH3011R.jpg" width="299" height="237"></a></li><li><a href="http://www.ptbus.com/carrotfantasy2/165798/" title="保卫萝卜2安卓版明日正式上线 激萌冒险再次启程" target="_blank"><img 

src="http://ptbus.tgbusdata.cn/v2/thumb/jpg/ZWEyMiwyOTksMjM3LDI1NSwzLDEsLTEsTk9ORSw=/u/www.ptbus.com/uploads/allimg/1401/15/2464-1401151021340-L.jpg" width="299" height="237"></a></li><li><a href="http://www.ptbus.com/carrotfantasy2/164793/" title="保卫萝卜2安卓版即将上市 本月16日正式上线发布" target="_blank"><img 

src="http://ptbus.tgbusdata.cn/v2/thumb/jpg/YWZlZiwyOTksMjM3LDI1NSwzLDEsLTEsTk9ORSw=/u/www.ptbus.com/uploads/allimg/1401/13/2464-1401130919300-L.jpg" width="299" height="237"></a></li><li><a href="http://www.ptbus.com/carrotfantasy2/163522/" title="保卫萝卜2安卓版即将发布 全新主题将在年后上线" target="_blank"><img 

src="http://ptbus.tgbusdata.cn/v2/thumb/jpg/ZWZlMSwyOTksMjM3LDI1NSwzLDEsLTEsTk9ORSw=/u/www.ptbus.com/uploads/allimg/1401/08/2464-14010Q401140-L.jpg" width="299" height="237"></a></li>

        </ul>
      </div>
            
            
            </div>
         <div class="new_r">
             <div class="title">
			 		  <!--函数使用列表-->
		 <A href="http://www.ptbus.com/carrotfantasy2/166494/" target="_blank" title="安卓版正式发布 萌系塔防再度来袭">安卓版正式发布 萌系塔防再度来袭</A>
		 </div>
             <ul>
    
    <!--函数使用列表--><LI><A href="http://www.ptbus.com/carrotfantasy2/167853/" target="_blank" title="保卫萝卜2wp8版即将来临 春节后正式发布">保卫萝卜2wp8版即将来临 春节后正式发布</A><SPAN class="time">

02-07</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/166350/" target="_blank" title="保卫萝卜2安卓版正式发布 萌系塔防再度来袭">保卫萝卜2安卓版正式发布 萌系塔防再度来袭</A><SPAN class="time">

02-07</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/171247/" target="_blank" title="保卫萝卜2iOS版v1.0.3更新 修复大量Bug">保卫萝卜2iOS版v1.0.3更新 修复大量Bug</A><SPAN class="time">

02-07</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/170694/" target="_blank" title="保卫萝卜2安卓修正版上线 修复回档等Bug">保卫萝卜2安卓修正版上线 修复回档等Bug</A><SPAN class="time">

01-27</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/167824/" target="_blank" title="保卫萝卜2安卓版无限钻石存档下载 内购破解教程">保卫萝卜2安卓版无限钻石存档下载 内购破解教程</A><SPAN class="time">

01-21</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/167752/" target="_blank" title="保卫萝卜2安卓版通关存档 金萝卜完美存档下载">保卫萝卜2安卓版通关存档 金萝卜完美存档下载</A><SPAN class="time">

01-21</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/167741/" target="_blank" title="保卫萝卜2安卓版闪退怎么办？快速解决闪退方法">保卫萝卜2安卓版闪退怎么办？快速解决闪退方法</A><SPAN class="time">

01-21</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/167730/" target="_blank" title="保卫萝卜2安卓版卡怎么办？提升运行速度攻略">保卫萝卜2安卓版卡怎么办？提升运行速度攻略</A><SPAN class="time">

01-21</SPAN></LI><LI><A href="http://www.ptbus.com/carrotfantasy2/166512/" target="_blank" title="保卫萝卜2安卓版存档下载 完美通关无限金币无限宝石">保卫萝卜2安卓版存档下载 完美通关无限金币无限宝石</A><SPAN class="time">

01-17</SPAN></LI>
  <!--函数使用列表-->
                
                </ul>
            </div>
        </div>
 <div class="pc_bg">
             <div class="title">保卫萝卜2简介</div>
                <div class="pc_pic"><img src="http://static.ptbus.com/templet/146965/images/logo1.png" />《保卫萝卜2

：极地冒险》是一款超萌的休闲塔防游戏，作为《保卫萝卜》的续作，其继续延续了超萌耐玩的特点。本次的保卫萝卜2在原作

基础上添加了冰川、雪地、冰河在内6个主题场景。全新101个关卡还拥有Boss计时、怪物堡垒、终极对决等6个模式。</div>
        </div>
        <div>  
<!--极地世界-->
<div class="m_box">
 <div class="map-box map-bg1" id="bg">
  <h4 class="column_name box-bg-t">
         <span class="tab-m-box">
    <a href="javascript:void(0)" class="tab-m tab-m-active">雪地主题</a>
    <a href="javascript:void(0)" class="tab-m">丛林主题</a>
    <a href="javascript:void(0)" class="tab-m">冰川主题</a>
    <a href="javascript:void(0)" class="tab-m">天空主题</a>
            </span>
        </h4>
        <div class="box01 jdbg">
         <div class="col-left">
             <h3>雪地主题-第1关</h3>
                <span class="check-box">
                 <img src="http://static.ptbus.com/templet/146965/images/1.jpg" width="320" height="230" alt="" style="display: none;">
     <div style="display: block;"><embed src="http://player.youku.com/player.php/sid/XNjM5NTI1ODcy/v.swf" allowfullscreen="true" quality="high" width="320" height="228" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" flashvars="winType=index"></div>
    </span>
                <p><strong>闯关攻略：</strong>建造1个章鱼塔和船锚炮塔，用来攻击怪物和清除附近的道具。<a href="http://www.ptbus.com/carrotfantasy2/148701/" target="_blank" class="p-check">[查看详细]</a></p>
            </div>
            <div class="col-right">
             <div class="tab-btn">
                 <a href="javascript:void(0)" class="game-pic"></a>
                    <a href="javascript:void(0)" class="game-video game-video-active"></a>
                </div>
                <div class="consists-btn">
                 <div id="1-15" style="display: block;">
     <span id="people1"></span>
     <span id="people2"></span>
     <p class="p-conn1">大家好，这里是口袋巴士保卫萝卜2第<strong>1-15</strong>图文公路和视频攻略</p>
     <p class="p-conn2">点击1-15数字就能看到详细攻略了，上方2按钮可以切换图文和视频</p>
     <a href="http://www.ptbus.com/carrotfantasy2/148091/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147040/" glpic="http://static.ptbus.com/templet/146965/images/1.jpg" glcon="连续建造两个瓶子炮台并且升级，清除附近障碍物，得到金币" veido="http://player.youku.com/player.php/sid/XNjM5NTI1ODcy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148091/" vcon="连续建造两个瓶子炮台并且升级，清除附近障碍物，得到金币" id="a1">1</a>
     <a href="http://www.ptbus.com/carrotfantasy2/147161/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147161/" glpic="http://static.ptbus.com/templet/146965/images/2.jpg" glcon="1、首先，我们要建造一个饼子炮台并且升级（如图位置）来负责清理障碍物从而得到额外的金币，下面的炮台负责来攻击怪物" veido="http://player.youku.com/player.php/sid/XNjM5NTMzMjU2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148096/" vcon="1、首先，我们要建造一个饼子炮台并且升级（如图位置）来负责清理障碍物从而得到额外的金币，下面的炮台负责来攻击怪物" id="a2">2</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147200/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147200/" glpic="http://static.ptbus.com/templet/146965/images/3.jpg" glcon="一开始，我们先把星星炮塔升级为满级状态(如下图)，然后把附近的障碍物清楚掉，需要注意的是，要把握好怪物出击的时刻" veido="http://player.youku.com/player.php/sid/XNjM5NTQzNTY0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148100/" vcon="一开始，我们先把星星炮塔升级为满级状态(如下图)，然后把附近的障碍物清楚掉，需要注意的是，要把握好怪物出击的时刻" id="a3">3</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147237/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147237/" glpic="http://static.ptbus.com/templet/146965/images/4.jpg" glcon="首先进入雪地主题第4关我们可以直接清理炮塔附近的障碍物，等待怪物到达炮塔攻击范围内我们才开始攻击。" veido="http://player.youku.com/player.php/sid/XNjM5NTQyNTcy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148102/" vcon="首先进入雪地主题第4关我们可以直接清理炮塔附近的障碍物，等待怪物到达炮塔攻击范围内我们才开始攻击。" id="a4">4</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147258/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147258/" glpic="http://static.ptbus.com/templet/146965/images/5.jpg" glcon="第5关一开始，我们可以将太阳炮塔清理右侧附近的障碍物，坐等怪物出击。" veido="http://player.youku.com/player.php/sid/XNjM5NTQyNjUy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148106/" vcon="第5关一开始，我们可以将太阳炮塔清理右侧附近的障碍物，坐等怪物出击。" id="a5">5</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147303/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147303/" glpic="http://static.ptbus.com/templet/146965/images/6.jpg" glcon="保卫萝卜2攻略之雪地主题第6关开局，太阳直接满级，我们可以先用太阳清理周围的障碍物，从而得到相应的金币" veido="http://player.youku.com/player.php/sid/XNjM5NTU2OTU2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148125/" vcon="保卫萝卜2攻略之雪地主题第6关开局，太阳直接满级，我们可以先用太阳清理周围的障碍物，从而得到相应的金币" id="a6">6</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147349/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147349/" glpic="http://static.ptbus.com/templet/146965/images/7.jpg" glcon="开局就开始计算时间了，所以我们开局就优先完成120秒获得2000金钱的任务" veido="http://player.youku.com/player.php/sid/XNjM5NTU2NTg0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148193/" vcon="开局就开始计算时间了，所以我们开局就优先完成120秒获得2000金钱的任务" id="a7">7</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147382/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147382/" glpic="http://static.ptbus.com/templet/146965/images/8.jpg" glcon="第八关一开局，哇满地图的都是障碍物，不要着急。我们先用满级的太阳清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5NTU2Mzg4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148197/" vcon="第八关一开局，哇满地图的都是障碍物，不要着急。我们先用满级的太阳清理附近的障碍物。" id="a8">8</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147408/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147408/" glpic="http://static.ptbus.com/templet/146965/images/9.jpg" glcon="本关一开始，我们可以将瓶子炮塔先来清理附近的障碍物，等第一波怪物出现时在攻击。" veido="http://player.youku.com/player.php/sid/XNjM5NTU1MDM2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148205/" vcon="本关一开始，我们可以将瓶子炮塔先来清理附近的障碍物，等第一波怪物出现时在攻击。" id="a9">9</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147422/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147422/" glpic="http://static.ptbus.com/templet/146965/images/10.jpg" glcon="保卫萝卜2攻略之雪地主题第10关开局如下图，在右边建造一个满级风扇，然后左边的风扇负责清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5NTU0NzI0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148208/" vcon="保卫萝卜2攻略之雪地主题第10关开局如下图，在右边建造一个满级风扇，然后左边的风扇负责清理附近的障碍物。" id="a10">10</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147437/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147437/" glpic="http://static.ptbus.com/templet/146965/images/11.jpg" glcon="保卫萝卜2攻略之雪地主题第11关一切看运气，想拿金萝卜难度不大。主要是随机到额外任务需要的炮塔，" veido="http://player.youku.com/player.php/sid/XNjM5NTU0OTU2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148210/" vcon="保卫萝卜2攻略之雪地主题第11关一切看运气，想拿金萝卜难度不大。主要是随机到额外任务需要的炮塔，" id="a11">11</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147581/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147581/" glpic="http://static.ptbus.com/templet/146965/images/12.jpg" glcon="开局如下图，在如图位置建造一个魔法球，并且标记左上角的红色雪糕将其清理掉" veido="http://player.youku.com/player.php/sid/XNjM5NTUzOTA4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148214/" vcon="开局如下图，在如图位置建造一个魔法球，并且标记左上角的红色雪糕将其清理掉" id="a12">12</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147582/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147582/" glpic="http://static.ptbus.com/templet/146965/images/13.jpg" glcon="开局如下图，在下图位置上建造一个星星炮塔，并且将其清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5NTUyMTk2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148217/" vcon="开局如下图，在下图位置上建造一个星星炮塔，并且将其清理附近的障碍物。" id="a13">13</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147585/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147585/" glpic="http://static.ptbus.com/templet/146965/images/14.jpg" glcon="本关一开局，如图所示，建造一个太阳炮塔，将其清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5NTUxNzYw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148218/" vcon="本关一开局，如图所示，建造一个太阳炮塔，将其清理附近的障碍物。" id="a14">14</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147596/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147596/" glpic="http://static.ptbus.com/templet/146965/images/15.jpg" glcon="本关也是保卫萝卜2雪地主题的最后一关，本关一开局如下图位置上，建造两个太阳炮塔，清理附近障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5NTUzNTQw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148219/" vcon="本关也是保卫萝卜2雪地主题的最后一关，本关一开局如下图位置上，建造两个太阳炮塔，清理附近障碍物。" id="a15">15</a>
</div>
                    <div id="16-30" style="display: none;">
     <span id="people3"></span>
     <span id="people4"></span>
     <p class="p-conn1">大家好！我是口袋巴士保卫萝卜森林主题的<strong>16-30</strong>关，这有你需要的图文和视频攻略</p>
     <p class="p-conn2">点击图文攻略和视频攻略进行切换</p>
     <a href="http://www.ptbus.com/carrotfantasy2/147058/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147058/" glpic="http://static.ptbus.com/templet/146965/images/16.jpg" glcon="首先，我们放个魔法球在下图所示位置，让它攻击选中炮塔，这是为了完成90s打掉3棵大树的任务" veido="http://player.youku.com/player.php/sid/XNjM5NTQ0MTYw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148082/" vcon="首先，我们放个魔法球在下图所示位置，让它攻击选中炮塔，这是为了完成90s打掉3棵大树的任务" id="a1">16</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147085/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147085/" glpic="http://static.ptbus.com/templet/146965/images/17.jpg" glcon="建造一个风扇，并将其升至满级，这样可以清理掉标记的甲壳虫。" veido="http://player.youku.com/player.php/sid/XNjM5NTM3MTU2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148081/" vcon="建造一个风扇，并将其升至满级，这样可以清理掉标记的甲壳虫。" id="a2">17</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147106/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147106/" glpic="http://static.ptbus.com/templet/146965/images/18.jpg" glcon="建造一个太阳炮塔，去清除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTQxNTky/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148084/" vcon="建造一个太阳炮塔，去清除周围的道具。" id="a3">18</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147146/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147146/" glpic="http://static.ptbus.com/templet/146965/images/19.jpg" glcon="一、使用太阳花塔消灭50个怪物。二、成功建造6个太阳花塔（顶级）。三、在99秒内获得1200金钱。" veido="http://player.youku.com/player.php/sid/XNjM5NTQ4NjMy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148088/" vcon="一、使用太阳花塔消灭50个怪物。二、成功建造6个太阳花塔（顶级）。三、在99秒内获得1200金钱。" id="a4">19</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147166/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147166/" glpic="http://static.ptbus.com/templet/146965/images/20.jpg" glcon="在左方放下2个满级的火箭，用来清理周围的道具，优先攻击标记的大树。" veido="http://player.youku.com/player.php/sid/XNjM5NTUwNjky/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148092/" vcon="在左方放下2个满级的火箭，用来清理周围的道具，优先攻击标记的大树。" id="a5">20</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147205/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147205/" glpic="http://static.ptbus.com/templet/146965/images/21.jpg" glcon="这一关需要注意的是瓶子炮塔只能建造1个哦!所以我们先建造一个星星炮塔，并将其升到满级，攻击下图中标记的道具" veido="http://player.youku.com/player.php/sid/XNjM5NTUyMTky/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148109/" vcon="这一关需要注意的是瓶子炮塔只能建造1个哦!所以我们先建造一个星星炮塔，并将其升到满级，攻击下图中标记的道具" id="a6">21</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147234/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147234/" glpic="http://static.ptbus.com/templet/146965/images/22.jpg" glcon="在标记位置建造一个太阳炮塔，清除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTc3Mzgw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148168/" vcon="在标记位置建造一个太阳炮塔，清除周围的道具。" id="a7">22</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147267/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147267/" glpic="http://static.ptbus.com/templet/146965/images/23.jpg" glcon="首先我们在地图中间建造瓶子炮塔和多重箭塔来攻击清除风车道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTU1NDQ0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148169/" vcon="首先我们在地图中间建造瓶子炮塔和多重箭塔来攻击清除风车道具。" id="a8">23</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147328/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147328/" glpic="http://static.ptbus.com/templet/146965/images/24.jpg" glcon="建造一个风扇，用来消除标记的甲壳虫道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTU3NzAw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148170/" vcon="建造一个风扇，用来消除标记的甲壳虫道具。" id="a9">24</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147358/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147358/" glpic="http://static.ptbus.com/templet/146965/images/25.jpg" glcon="建造1个多重箭塔和魔法球，魔法球指定攻击图示的大钱袋即可" veido="http://player.youku.com/player.php/sid/XNjM5NTc1NDc2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148171/" vcon="建造1个多重箭塔和魔法球，魔法球指定攻击图示的大钱袋即可" id="a10">25</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147379/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147379/" glpic="http://static.ptbus.com/templet/146965/images/26.jpg" glcon="首先建造一个多重箭塔，主要攻击上方的大树道具" veido="http://player.youku.com/player.php/sid/XNjM5NTY0MTc2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148176/" vcon="首先建造一个多重箭塔，主要攻击上方的大树道具" id="a11">26</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147406/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147406/" glpic="http://static.ptbus.com/templet/146965/images/27.jpg" glcon="建造一个飞机塔，冰洁将它升到满级，用于清理附近的道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTY1Nzgw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148177/" vcon="建造一个飞机塔，冰洁将它升到满级，用于清理附近的道具。" id="a12">27</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147421/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147421/" glpic="http://static.ptbus.com/templet/146965/images/28.jpg" glcon="圈出的3个道具中有炸弹道具，首先我们要先将中间的甲壳虫道具清除。" veido="http://player.youku.com/player.php/sid/XNjM5NTY2ODQ0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148179/" vcon="圈出的3个道具中有炸弹道具，首先我们要先将中间的甲壳虫道具清除。" id="a13">28</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147436/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147436/" glpic="http://static.ptbus.com/templet/146965/images/29.jpg" glcon="建造一个魔法球来攻击清除图中标记的道具。" veido="http://player.youku.com/player.php/sid/XNjM5NTY5MTY0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148180/" vcon="建造一个魔法球来攻击清除图中标记的道具。" id="a14">29</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147574/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147574/" glpic="http://static.ptbus.com/templet/146965/images/30.jpg" glcon="建造一个多重箭塔，用来清除周围指定的那些道具，最好将其升一级。" veido="http://player.youku.com/player.php/sid/XNjM5NTcwNzMy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148182/" vcon="建造一个多重箭塔，用来清除周围指定的那些道具，最好将其升一级。" id="a15">30</a>
</div>
     <div id="31-50" style="display: none;">
     <span id="people5"></span>
     <span id="people6"></span>
     <p class="p-conn1">大家好！这里是保卫萝卜2冰川主题第<strong>31-50</strong>关的图文和视频攻略</p>
     <p class="p-conn2">赶紧沿着路线一直走下去</p>
     <a href="http://www.ptbus.com/carrotfantasy2/147674/" target="_blank" title="保卫萝卜2第31关" glsrc="http://www.ptbus.com/carrotfantasy2/147674/" glpic="http://static.ptbus.com/templet/146965/images/31.jpg" glcon="本关也是保卫萝卜2冰川主题的第一关，本关一开局，我们先将冰锥炮塔升级至满级，并且将其清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODE2NTc2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148232/" vcon="本关也是保卫萝卜2冰川主题的第一关，本关一开局，我们先将冰锥炮塔升级至满级，并且将其清理附近道具。" id="a31">31</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147682/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147682/" glpic="http://static.ptbus.com/templet/146965/images/32.jpg" glcon="本关一开始，我们先在如图位置上建造一个冰锥炮塔，升级至满级，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODE2ODY0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148235/" vcon="本关一开始，我们先在如图位置上建造一个冰锥炮塔，升级至满级，清理附近道具。" id="a32">32</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147691/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147691/" glpic="http://static.ptbus.com/templet/146965/images/33.jpg" glcon="本关一开局，我们在如图位置上建造两个冰锥炮塔，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODE3MjE2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148236/" vcon="本关一开局，我们在如图位置上建造两个冰锥炮塔，清理附近道具。" id="a33">33</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147704/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147704/" glpic="http://static.ptbus.com/templet/146965/images/34.jpg" glcon="建造弓箭不用管怪物，集火中间的冰块。" veido="http://player.youku.com/player.php/sid/XNjM5ODE4MDcy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148238/" vcon="建造弓箭不用管怪物，集火中间的冰块。" id="a34">34</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147722/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147722/" glpic="http://static.ptbus.com/templet/146965/images/35.jpg" glcon="建造一个手电筒塔(满级)，清理冰棒道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODE5MzQ0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148261/" vcon="建造一个手电筒塔(满级)，清理冰棒道具。" id="a35">35</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147733/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147733/" glpic="http://static.ptbus.com/templet/146965/images/36.jpg" glcon="选择建造：瓶子、炸弹星、魔法球、冰锥塔，首先一开局，我们可以在如图位置上建造2个冰锥炮塔，清楚附近道具" veido="http://player.youku.com/player.php/sid/XNjM5ODIwNjI0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148266/" vcon="选择建造：瓶子、炸弹星、魔法球、冰锥塔，首先一开局，我们可以在如图位置上建造2个冰锥炮塔，清楚附近道具" id="a36">36a>
  
  
     <a href="http://www.ptbus.com/carrotfantasy2/147754/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147754/" glpic="http://static.ptbus.com/templet/146965/images/37.jpg" glcon="本关一开始在如图标记的为止，建造船锚塔，优先升满级，清理指定道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODI4OTQ0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148289/" vcon="本关一开始在如图标记的为止，建造船锚塔，优先升满级，清理指定道具。" id="a37">37</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147779/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147779/" glpic="http://static.ptbus.com/templet/146965/images/38.jpg" glcon="我们要在如图标记的位置，建造多重箭，并且升级至满级，清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5ODMyNzUy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148295/" vcon="我们要在如图标记的位置，建造多重箭，并且升级至满级，清理附近的障碍物。" id="a38">38</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147795/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147795/" glpic="http://static.ptbus.com/templet/146965/images/39.jpg" glcon="本关一开局，我们在如图标记的位置上建造一个船锚和一个双向炮塔，船锚打怪双向炮塔清除冰棍道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODMzNjUy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148300/" vcon="本关一开局，我们在如图标记的位置上建造一个船锚和一个双向炮塔，船锚打怪双向炮塔清除冰棍道具。" id="a39">39</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147815/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147815/" glpic="http://static.ptbus.com/templet/146965/images/40.jpg" glcon="先建造一个星星塔，如果金币足够的话，我们可以将它升级至满级，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODM0OTgw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148302/" vcon="先建造一个星星塔，如果金币足够的话，我们可以将它升级至满级，清理附近道具。" id="a40">40</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147829/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147829/" glpic="http://static.ptbus.com/templet/146965/images/41.jpg" glcon="建造一个瓶子塔，并且升级至满级，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODUyMDEy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148319/" vcon="建造一个瓶子塔，并且升级至满级，清理附近道具。" id="a41">41</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147849/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147849/" glpic="http://static.ptbus.com/templet/146965/images/42.jpg" glcon="建第一个炮塔，有点就升级至满级，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODUzMDAw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148322/" vcon="建第一个炮塔，有点就升级至满级，清理附近道具。" id="a42">42</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147863/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147863/" glpic="http://static.ptbus.com/templet/146965/images/43.jpg" glcon="我们要先在如图位置建造风扇炮塔，并升级至满级，清理附近道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODU1ODg4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148331/" vcon="我们要先在如图位置建造风扇炮塔，并升级至满级，清理附近道具。" id="a43">43</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147912/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147912/" glpic="http://static.ptbus.com/templet/146965/images/44.jpg" glcon="本关一开局，我们现在如图标记的为止上建造冰锥炮塔，并且升级至满级，标记清理附近的钱袋道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODU3NTY0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148327/" vcon="本关一开局，我们现在如图标记的为止上建造冰锥炮塔，并且升级至满级，标记清理附近的钱袋道具。" id="a44">44</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147932/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147932/" glpic="http://static.ptbus.com/templet/146965/images/45.jpg" glcon="本关一开始，在如图标记的位置上建造太阳花升级至满级，清理附近的障碍物。" veido="http://player.youku.com/player.php/sid/XNjM5ODQ1MjE2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148305/" vcon="本关一开始，在如图标记的位置上建造太阳花升级至满级，清理附近的障碍物。" id="a45">45</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147944/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147944/" glpic="http://static.ptbus.com/templet/146965/images/46.jpg" glcon="本关一开局，我们先要在如图标记的地方建造两个风扇炮塔，左边拦截怪物右边清除道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODIwNjI0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148243/" vcon="本关一开局，我们先要在如图标记的地方建造两个风扇炮塔，左边拦截怪物右边清除道具。" id="a46">46</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147962/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147962/" glpic="http://static.ptbus.com/templet/146965/images/47.jpg" glcon="建造一个章鱼塔，并将其升级到满级，用来清除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODM5NDA0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148309/" vcon="建造一个章鱼塔，并将其升级到满级，用来清除周围的道具。" id="a47">47</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147946/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147946/" glpic="http://static.ptbus.com/templet/146965/images/48.jpg" glcon="建造一个船锚炮塔，并且将其升至满级，用来清除图中标识的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODQwNTk2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148312/" vcon="建造一个船锚炮塔，并且将其升至满级，用来清除图中标识的道具。" id="a48">48</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147919/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147919/" glpic="http://static.ptbus.com/templet/146965/images/49.jpg" glcon="建造一个船锚炮塔，并将其升至满级，指定攻击图中标识的游泳圈道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODQxMzU2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148313/" vcon="建造一个船锚炮塔，并将其升至满级，指定攻击图中标识的游泳圈道具。" id="a49">49</a>
  
     <a href="http://www.ptbus.com/carrotfantasy2/147906/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147906/" glpic="http://static.ptbus.com/templet/146965/images/50.jpg" glcon="建造船锚炮塔，并且将其升至满级，用来清除图中标识道具即可。" veido="http://player.youku.com/player.php/sid/XNjM5ODQyODQw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148316/" vcon="建造船锚炮塔，并且将其升至满级，用来清除图中标识道具即可。" id="a50">50</a>
</div>
     <div id="51-65" style="display: none;">
    <span id="people5"></span>
    <span id="people6"></span>
    <p class="p-conn1">Hello！这里是口袋巴士保卫萝卜2天空主题第<strong>51-65</strong>关视频和图文攻略</p>
    <p class="p-conn2">快快点上面的数字按钮看攻略通关吧</p>
    <a href="http://www.ptbus.com/carrotfantasy2/147576/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147576/" glpic="http://static.ptbus.com/templet/146965/images/51.jpg" glcon="建造一个飞机塔，升一级即可，用来消除周围的大小金币，哈哈!" veido="http://player.youku.com/player.php/sid/XNjM5ODIwMDEy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148283/" vcon="建造一个飞机塔，升一级即可，用来消除周围的大小金币，哈哈!" id="a1">51</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147579/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147579/" glpic="http://static.ptbus.com/templet/146965/images/52.jpg" glcon="建造一个太阳炮塔，并且将其升到满级，用来清除周围的道具，优先攻击图中标记的道具哦!" veido="http://player.youku.com/player.php/sid/XNjM5ODIxNjM2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148284/" vcon="建造一个太阳炮塔，并且将其升到满级，用来清除周围的道具，优先攻击图中标记的道具哦!" id="a2">52</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147672/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147672/" glpic="http://static.ptbus.com/templet/146965/images/53.jpg" glcon="建造2个魔法球，每个都升一级，用来攻击怪物和消除道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODIyMzY4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148286/" vcon="建造2个魔法球，每个都升一级，用来攻击怪物和消除道具。" id="a3">53</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147679/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147679/" glpic="http://static.ptbus.com/templet/146965/images/54.jpg" glcon="建造1个飞机塔和炸弹星，用来清除图中标记的道具即可。" veido="http://player.youku.com/player.php/sid/XNjM5ODI2MjIw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148287/" vcon="建造1个飞机塔和炸弹星，用来清除图中标记的道具即可。" id="a4">54</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147687/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147687/" glpic="http://static.ptbus.com/templet/146965/images/55.jpg" glcon="建造一个魔法球和一个炸弹星，然后各升一级，用来清除道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODI4MDQw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148290/" vcon="建造一个魔法球和一个炸弹星，然后各升一级，用来清除道具。" id="a5">55</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147694/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147694/" glpic="http://static.ptbus.com/templet/146965/images/56.jpg" glcon="建造2个瓶子炮塔，并且将它们升到满级，在攻击怪物的同时也要消除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODI4NDE2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148296/" vcon="建造2个瓶子炮塔，并且将它们升到满级，在攻击怪物的同时也要消除周围的道具。" id="a6">56</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147710/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147710/" glpic="http://static.ptbus.com/templet/146965/images/57.jpg" glcon="建造一个瓶子炮塔去消除下图中标志的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODI5NzYw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148299/" vcon="建造一个瓶子炮塔去消除下图中标志的道具。" id="a7">57</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147731/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147731/" glpic="http://static.ptbus.com/templet/146965/images/58.jpg" glcon="我们首先在图中标识位置建造1个船锚炮塔，用来清除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODMyNDY4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148301/" vcon="我们首先在图中标识位置建造1个船锚炮塔，用来清除周围的道具。" id="a8">58</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147750/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147750/" glpic="http://static.ptbus.com/templet/146965/images/59.jpg" glcon="建造一个双向炮塔，用来攻击怪物和清除道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODMzMjAw/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148303/" vcon="建造一个双向炮塔，用来攻击怪物和清除道具。" id="a9">59</a>
 

    <a href="http://www.ptbus.com/carrotfantasy2/147778/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147778/" glpic="http://static.ptbus.com/templet/146965/images/60.jpg" glcon="首先我们建造1个太阳炮塔，并且将它升到满级，去消除下方的大树。" veido="http://player.youku.com/player.php/sid/XNjM5ODM4MTY0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148304/" vcon="首先我们建造1个太阳炮塔，并且将它升到满级，去消除下方的大树。" id="a10">60</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147806/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147806/" glpic="http://static.ptbus.com/templet/146965/images/61.jpg" glcon="首先建造2个风扇，并且将它们升至顶级，去消除图中标识的云道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODM5MDA0/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148306/" vcon="首先建造2个风扇，并且将它们升至顶级，去消除图中标识的云道具。" id="a11">61</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147823/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147823/" glpic="http://static.ptbus.com/templet/146965/images/62.jpg" glcon="建造一个飞机塔去攻击图中标识的云道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODQ1Nzg4/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148308/" vcon="建造一个飞机塔去攻击图中标识的云道具。" id="a12">62</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147842/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147842/" glpic="http://static.ptbus.com/templet/146965/images/63.jpg" glcon="首先建造2个太阳炮塔，并且将其升到满级，用来消除附近的道具。" veido="http://player.youku.com/player.php/sid/XNjM5ODQ5ODE2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148310/" vcon="首先建造2个太阳炮塔，并且将其升到满级，用来消除附近的道具。" id="a13">63</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/147876/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/147876/" glpic="http://static.ptbus.com/templet/146965/images/64.jpg" glcon="建造一个太阳炮塔，用来清除周围的道具。" veido="http://player.youku.com/player.php/sid/XNjM5OTg2NDUy/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148576/" vcon="建造一个太阳炮塔，用来清除周围的道具。" id="a14">64</a>
 
    <a href="http://www.ptbus.com/carrotfantasy2/148710/" target="_blank" glsrc="http://www.ptbus.com/carrotfantasy2/148710/" glpic="http://static.ptbus.com/templet/146965/images/65.jpg" glcon="建造1个章鱼塔和船锚炮塔，用来攻击怪物和清除附近的道具。" veido="http://player.youku.com/player.php/sid/XNjQwMDU0NTM2/v.swf" vsrc="http://www.ptbus.com/carrotfantasy2/148701/" vcon="建造1个章鱼塔和船锚炮塔，用来攻击怪物和清除附近的道具。" id="a15">65</a>
</div>
                </div>
            </div>         
        <div class="clear"></div>
        </div>
        <div class="box-bg-b"></div>
 </div>
</div>
<script>
 var tab_a=$('.tab-m-box a'); 
 tab_a.click(function()
 {
  var j=tab_a.index($(this)[0]); 
  var k = j+1;
  var classa = 'map-box map-bg'+k;
  $('.consists-btn div').eq(j).show().siblings('div').hide();
  $('#bg').attr('class',classa);
  tab_a.eq(j).addClass('tab-m tab-m-active').siblings().attr('class','tab-m');
 });
 
 $('.game-pic').click(function(){
  $(this).attr('class','game-pic game-pic-active');
  $(this).siblings('a').attr('class','game-video');
  $('.check-box img').show();
  $('.check-box div').hide();
  var str = $('.col-left h3').text();
  var setp = str.replace(/[^0-9]/ig,"")-1;//关数
  //获取当前关数的信息
  var ob = $('.consists-btn div[style != "display:none;"] a').eq(setp);
  var glsrc = ob.attr('glsrc');//攻略地址
  var glpic = ob.attr('glpic');//攻略图片
  var glcon = ob.attr('glcon');//攻略内容
  $('.check-box img').attr('src',glpic);
  var str = '<strong>闯关攻略：</strong>'+glcon+'<a href="'+glsrc+'" target="_blank" class="p-check">[查看详细]</a>';
  $('.col-left p').html(str);
 })
 
 $('.game-video').click(function(){
  $(this).attr('class','game-video game-video-active');
  $(this).siblings('a').attr('class','game-pic');
  $('.check-box img').hide();
  $('.check-box div').show();
  var str = $('.col-left h3').text();
  var setp = str.replace(/[^0-9]/ig,"")-1;//关数
  //获取当前关数的信息
  var ob = $('.consists-btn div[style != "display:none;"] a').eq(setp);
  var veido = ob.attr('veido');//视频flash地址
  var vsrc = ob.attr('vsrc');//视频文章地址
  var vcon = ob.attr('vcon');//视频简介
  $('.check-box div embed').remove();
  $('.check-box div').html('<embed src="'+veido+'" allowfullscreen="true" quality="high" width="320" height="220" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" flashvars="winType=index">');
  var str = '<strong>闯关攻略：</strong>'+vcon+'<a href="'+vsrc+'" target="_blank" class="p-check">[查看详细]</a>';
  $('.col-left p').html(str);
 })

 $('.consists-btn a').mouseover(function(){
  var glsrc = $(this).attr('glsrc');//攻略地址
  var glpic = $(this).attr('glpic');//攻略图片
  var glcon = $(this).attr('glcon');//攻略内容
  var veido = $(this).attr('veido');//视频flash地址
  var vsrc = $(this).attr('vsrc');//视频文章地址
  var vcon = $(this).attr('vcon');//视频简介
  var setp = $(this).text();//关数
  var zt = $('.tab-m-box a[class = "tab-m tab-m-active"]').text();//主题名称
  var ztname = zt+'-第'+setp+'关';
  if($('.tab-btn a').eq(0).attr('class') == 'game-pic game-pic-active'){
   $('.check-box img').attr('src',glpic);
   var str = '<strong>闯关攻略：</strong>'+glcon+'<a href="'+glsrc+'" target="_blank" class="p-check">[查看详细]</a>';
   $('.col-left p').html(str);
   $('.col-left h3').text(ztname);
  }
  if($('.tab-btn a').eq(1).attr('class') == 'game-video game-video-active'){
   $('.check-box div embed').remove();
   $('.check-box div').html('<embed src="'+veido+'" allowfullscreen="true" quality="high" width="320" height="220" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" flashvars="winType=index">');
   var str = '<strong>闯关攻略：</strong>'+vcon+'<a href="'+vsrc+'" target="_blank" class="p-check">[查看详细]</a>';
   $('.col-left p').html(str);
   $('.col-left h3').text(ztname);
  }
 })
</script>


<!--结束-->            </div>
  <div class="mode">
        <div class="bossmode">
             <div class="public_title title2"><img src="http://static.ptbus.com/templet/146965/images/tubiao2.png" 

/></div>
                <div class="bossmode_l"><img src="http://static.ptbus.com/templet/146965/images/tubiao3.png" /></div>
                <div class="bossmode_r">
                 <ul>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148497/" target="_blank">第1关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148498/" target="_blank">第2关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148508/" target="_blank">第3关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148521/" target="_blank">第4关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148529/" target="_blank">第5关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148540/" target="_blank">第6关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148551/" target="_blank">第7关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148566/" target="_blank">第8关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148573/" target="_blank">第9关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148645/" target="_blank">第10关

</a></li>
                          <li><a href="http://www.ptbus.com/carrotfantasy2/148575/" target="_blank">第11关

</a></li>
                    </ul>
                
                </div>
            </div>
        </div>
        
         <div class="yxgl">
             <p class="tubiao"><img src="http://static.ptbus.com/templet/146965/images/glpic.png" /></p>
                <p class="title"><span>游戏</span>攻略</p>
                <div class="neirong">
    <!--函数使用列表--><p><A href="http://www.ptbus.com/carrotfantasy2/171247/" target="_blank" title="保卫萝卜2iOS版v1.0.3更新 修复大量Bug">保卫萝卜2iOS版v1.0.3更新 修复大量Bug</A><SPAN class="time">

02-07</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/167824/" target="_blank" title="保卫萝卜2安卓版无限钻石存档下载 内购破解教程">保卫萝卜2安卓版无限钻石存档下载 内购破解教程</A><SPAN class="time">

01-21</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/167752/" target="_blank" title="保卫萝卜2安卓版通关存档 金萝卜完美存档下载">保卫萝卜2安卓版通关存档 金萝卜完美存档下载</A><SPAN class="time">

01-21</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/167730/" target="_blank" title="保卫萝卜2安卓版卡怎么办？提升运行速度攻略">保卫萝卜2安卓版卡怎么办？提升运行速度攻略</A><SPAN class="time">

01-21</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/166512/" target="_blank" title="保卫萝卜2安卓版存档下载 完美通关无限金币无限">保卫萝卜2安卓版存档下载 完美通关无限金币无限</A><SPAN class="time">

01-17</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/166769/" target="_blank" title="保卫萝卜2安卓版修改教程 破解无限钻石攻略">保卫萝卜2安卓版修改教程 破解无限钻石攻略</A><SPAN class="time">

01-17</SPAN></p><p><A href="http://www.ptbus.com/carrotfantasy2/166788/" target="_blank" title="保卫萝卜2安卓破解版下载 内购无限钻石存档">保卫萝卜2安卓破解版下载 内购无限钻石存档</A><SPAN class="time">

01-17</SPAN></p>
  <!--函数使用列表-->
   
                </div>
 </div>
        <div class="ptjs">
         <!--   <div class="public_title"><a 

href="http://www.ptbus.com/carrotfantasy2/141399/" target="_blank"><img 

src="http://static.ptbus.com/templet/146965/images/tubiao4.png" /></a></div> -->

<div class="huadong">
            <div id="tp_" class="tp_ fl">
             <ul>
               <li id="tp_1" class="hovertap" onmouseover="x:HoverPi(1);">
               炮塔图鉴</li>
               <li id="tp_2" class="normaltap" onmouseover="i:HoverPi(2);">
               怪物图鉴</li>
               <li id="tp_3" class="normaltap" onmouseover="a:HoverPi(3);">
               道具图鉴</li>
                </ul>
             </div>
            </div>
<!--第一行-->      <div class="neirong cf" id="tpc_01">
             <ul>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E7%93%B6%E5%AD%90%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img1.ptpcp.com/v2/thumb/jpg/NmU2Niw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/1.png" width="80" height="80" /></a><span>瓶子炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E4%BE%BF%E4%BE%BF%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img2.ptpcp.com/v2/thumb/jpg/YjdhNCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/2.png" width="80" height="80" /></a><span>便便炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E7%AB%A0%E9%B1%BC%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img3.ptpcp.com/v2/thumb/jpg/ZTkwMiw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/3.png" width="80" height="80" /></a><span>章鱼炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E6%9C%88%E4%BA%AE%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img4.ptpcp.com/v2/thumb/jpg/MTljNyw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/4.png" width="80" height="80" /></a><span>月亮炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E6%98%9F%E6%98%9F%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img5.ptpcp.com/v2/thumb/jpg/MTE5Myw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/5.png" width="80" height="80" /></a><span>星星炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E7%8E%A9%E5%85%B7%E9%A3%9E%E6%9C%BA/" target="_blank"><img src="http://img6.ptpcp.com/v2/thumb/jpg/Y2U2Miw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/6.png" width="80" height="80" /></a><span>玩具飞机

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E5%A4%AA%E9%98%B3%E7%82%AE%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img7.ptpcp.com/v2/thumb/jpg/YTQxZSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/7.png" width="80" height="80" /></a><span>太阳炮炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E6%89%8B%E7%94%B5%E7%AD%92%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img8.ptpcp.com/v2/thumb/jpg/NmIwOCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/8.png" width="80" height="80" /></a><span>手电筒炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E9%AD%94%E6%B3%95%E7%90%83%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img9.ptpcp.com/v2/thumb/jpg/NTAzNSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/9.png" width="80" height="80" /></a><span>魔法球炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E7%81%AB%E7%AE%AD%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img10.ptpcp.com/v2/thumb/jpg/M2FkOSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/10.png" width="80" height="80" /></a><span>火箭炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E5%A4%9A%E9%87%8D%E7%AE%AD%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img1.ptpcp.com/v2/thumb/jpg/NWM4Miw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/11.png" width="80" height="80" /></a><span>多重箭炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E8%88%B9%E9%94%9A%E7%82%B8%E5%BC%B9/" target="_blank"><img src="http://img2.ptpcp.com/v2/thumb/jpg/Y2IyYiw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/12.png" width="80" height="80" /></a><span>船锚炸弹

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E5%86%B0%E9%94%A5%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img3.ptpcp.com/v2/thumb/jpg/YzJjNCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/13.png" width="80" height="80" /></a><span>冰锥炮塔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141399_id_%E5%86%B0%E5%86%BB%E9%A3%8E%E6%89%87%E7%82%AE%E5%A1%94/" target="_blank"><img src="http://img4.ptpcp.com/v2/thumb/jpg/ZDUyMSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141399_1/14.png" width="80" height="80" /></a><span>冰冻风扇炮塔

</span></li>
                     
                </ul>
    </div>
    
<!--第二行-->    <div class="undis" id="tpc_02">
             <ul>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E7%BB%B7%E5%B8%A6%E8%83%96%E5%AD%90/" target="_blank"><img src="http://img5.ptpcp.com/v2/thumb/jpg/NmE4OCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/1.png" width="80" height="80" /></a><span>绷带胖子

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E7%8B%AC%E8%A7%92%E6%80%AA/" target="_blank"><img src="http://img6.ptpcp.com/v2/thumb/jpg/NDhiNyw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/2.png" width="80" height="80" /></a><span>独角怪

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E7%8B%AC%E7%9C%BC%E9%BB%84%E8%B1%86/" target="_blank"><img src="http://img7.ptpcp.com/v2/thumb/jpg/ZmZkMyw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/3.png" width="80" height="80" /></a><span>独眼黄豆

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E7%8B%AC%E7%9C%BC%E7%BB%BF%E8%B1%86/" target="_blank"><img src="http://img8.ptpcp.com/v2/thumb/jpg/MWM2MCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/4.png" width="80" height="80" /></a><span>独眼绿豆

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E9%BB%91%E8%84%B8%E4%BB%99%E5%85%BD/" target="_blank"><img src="http://img9.ptpcp.com/v2/thumb/jpg/MDc5OSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/5.png" width="80" height="80" /></a><span>黑脸仙兽

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E8%93%9D%E9%AD%94/" target="_blank"><img src="http://img10.ptpcp.com/v2/thumb/jpg/NmVjZCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/6.png" width="80" height="80" /></a><span>蓝魔

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E9%93%81%E7%9A%AE%E6%80%AA/" target="_blank"><img src="http://img1.ptpcp.com/v2/thumb/jpg/MzQ4YSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/7.png" width="80" height="80" /></a><span>铁皮怪

</span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/146687_id_%E6%9C%B1%E5%94%87%E5%86%B0%E6%B7%87%E6%B7%8B/" target="_blank"><img src="http://img2.ptpcp.com/v2/thumb/jpg/ZDY4NSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/146687_1/8.png" width="80" height="80" /></a><span>朱唇冰淇淋

</span></li>
                     
                </ul>
    </div>
    
<!--第三行-->    <div class="undis" id="tpc_03">
  <ul>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E9%9B%AA%E6%A0%91/" target="_blank"><img src="http://img3.ptpcp.com/v2/thumb/jpg/OGUwZSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/1.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E9%9B%AA%E6%A0%91/" target="_blank">雪树</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%BA%A2%E8%89%B2%E5%86%B0%E6%A3%8D/" target="_blank"><img src="http://img4.ptpcp.com/v2/thumb/jpg/ZGIzNCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/2.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%BA%A2%E8%89%B2%E5%86%B0%E6%A3%8D/" target="_blank">红色冰棍</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%99%BD%E6%B0%B4%E6%99%B6%E6%8E%A8/" target="_blank"><img src="http://img5.ptpcp.com/v2/thumb/jpg/OTc2MSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/3.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%99%BD%E6%B0%B4%E6%99%B6%E6%8E%A8/" target="_blank">白水晶推</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%99%BD%E6%B0%B4%E6%99%B6/" target="_blank"><img src="http://img6.ptpcp.com/v2/thumb/jpg/MzBjMSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/4.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E7%99%BD%E6%B0%B4%E6%99%B6/" target="_blank">白水晶</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E6%A0%91%E6%9E%97/" target="_blank"><img src="http://img7.ptpcp.com/v2/thumb/jpg/MTNlMSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/5.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E6%A0%91%E6%9E%97/" target="_blank">树林</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E5%BD%A9%E8%89%B2%E6%B0%B4%E6%99%B6/" target="_blank"><img src="http://img8.ptpcp.com/v2/thumb/jpg/OWNkYSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/6.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E5%BD%A9%E8%89%B2%E6%B0%B4%E6%99%B6/" target="_blank">彩色水晶</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E5%86%B0%E7%9F%B3%E5%9D%97/" target="_blank"><img src="http://img9.ptpcp.com/v2/thumb/jpg/ZDU2MCw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/7.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E5%86%B0%E7%9F%B3%E5%9D%97/" target="_blank">冰石块</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E9%9B%AA%E5%B1%8B/" target="_blank"><img src="http://img10.ptpcp.com/v2/thumb/jpg/N2FjZiw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/153409_1/8.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/153409_id_%E9%9B%AA%E5%B1%8B/" target="_blank">雪屋</a></span></li>  
                </ul>
      <ul>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E5%85%A8%E5%B1%8F%E5%87%8F%E9%80%9F/" target="_blank"><img src="http://img1.ptpcp.com/v2/thumb/jpg/M2U4MSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141426_1/10.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E5%85%A8%E5%B1%8F%E5%87%8F%E9%80%9F/" target="_blank">全屏减速</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E5%85%A8%E5%B1%8F%E5%86%B0%E5%86%BB/" target="_blank"><img src="http://img2.ptpcp.com/v2/thumb/jpg/OWY4Miw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141426_1/11.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E5%85%A8%E5%B1%8F%E5%86%B0%E5%86%BB/" target="_blank">全屏冰冻</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E6%80%A5%E6%95%91%E5%8C%85/" target="_blank"><img src="http://img3.ptpcp.com/v2/thumb/jpg/MzkwOSw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141426_1/9.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E6%80%A5%E6%95%91%E5%8C%85/" target="_blank">急救包</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E6%9E%81%E9%99%90%E6%94%BB%E5%87%BB/" target="_blank"><img src="http://img4.ptpcp.com/v2/thumb/jpg/NzBkNiw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141426_1/12.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E6%9E%81%E9%99%90%E6%94%BB%E5%87%BB/" target="_blank">极限攻击</a></span></li>
                      <li><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E8%B6%85%E7%BA%A7%E7%82%B8%E5%BC%B9/" target="_blank"><img src="http://img5.ptpcp.com/v2/thumb/jpg/OWFkMiw4MCw4MCw5LDMsMSwtMSwxLA==/u/www.ptbus.com/uploads/db/141426_1/13.png" width="80" height="80" /></a><span><a href="http://www.ptbus.com/carrotfantasy2/141426_id_%E8%B6%85%E7%BA%A7%E7%82%B8%E5%BC%B9/" target="_blank">超级炸弹</a></span></li>  
                </ul>
    </div>
    
        </div>
</div>
<div class="common_foot_v2">        
<div class="i f12">
  <a target="_blank" title="手机游戏" href="http://www.ptbus.com">口袋巴士</a>|<a target="_blank" 

href="http://www.tgbus.com/info/6.shtml">诚聘英才</a>|<a target="_blank" 

href="http://bbs.ptbus.com/ptbus2013.ppt">合作共赢</a>|<a target="_blank" href="http://bbs.ptbus.com/thread-

281427-1-1.html">联系我们</a>|<a target="_blank" href="http://www.ptbus.com/catalog/950/">关键索引</a>|<a 

target="_blank" href="http://www.ptbus.com/ptbusapp/">口袋巴士客户端</a>|<a target="_blank" 

href="http://m.ptbus.com">手机版</a><br> 
  <span>京ICP备13039367号-1&#12288;京ICP证070145号&#12288;京公网安备110107000110&#12288;京网文[2011]0213-072号

</span>
 </div>        
        
 </div>                       
      </div>
</div>
<!-- 站长统计 -->
<DIV style="display: none;">
<script src='http://w.cnzz.com/c.php?id=30064366' language='JavaScript'></script>
 <script type="text/javascript">
 var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
 document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js

%3F1700957897fc0b70e19bbc7de12b28d2' type='text/javascript'%3E%3C/script%3E"));
 </script>
</DIV>
<script src="http://www.ptbus.com/count/58507_1456_0_0/" type="text/javascript"></script>
</body>
</html>
